


/*--------------- projects section --------------- */
h6 {
    text-align: center;
}

.vertical {
    margin-top: 40px;
    border-left: 1px solid #fff;
    height: 80px;
    position: absolute;
    left: 50%;
}

.project {
    height: 40vh;
    transition: 0.3s;
}

.project:hover {
    height: 45vh;
    cursor: pointer;
    transition: 0.3s;
}



.mariano {
    background: url(covers/mariano.jpg) no-repeat 40% 20%;
    background-size: cover;
    left: 0%
}

.mariano::after {
    font-family: 'Kantumruy Pro', sans-serif;
    font-style: italic;
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 8px;
    font-weight: bold;
    position: relative;
    color: #000;
    display: block;
    top: 10%;
    left: 0%;
    right: 0%;
    bottom: 0;
}
.mariano:hover::after{
    content: "Louis G - A Mariano";
    font-family: 'Kantumruy Pro', sans-serif;
    font-style: italic;
    writing-mode: horizontal-tb;
    font-size: 20px;
    color: white;
    text-align: center;
    top: 45%;
}


/* Web - more than you */
.morethanyou {
    background: url(covers/morethanyou.jpg) no-repeat 50% 10%;
    background-size: cover;
}
.morethanyou::after {
    font-family: 'Kantumruy Pro', sans-serif;
    font-style: italic;
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 15px;
    font-weight: bold;
    position: relative;
    color: #fff;
    display: block;
    top: 10%;
    left: 0%;
    right: 0%;
    bottom: 0;
    height: 250px;
}


.heras {
    background: url(covers/heras.jpeg) no-repeat 40% 40%;
    background-size: cover;
}

.heras::after {
    content: "HERAS";
    font-family: 'Kantumruy Pro', sans-serif;
    font-style: italic;
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    color: #fff;
    display: block;
    top: 5%;
    left: 0%;
    right: 0%;
    bottom: 0;
}

.forevertogether {
    background: url(https://i.ibb.co/W2dSjmv/coise.jpg) no-repeat 40% 20%;
    background-size: cover;
    left: 0%
}

.forevertogether::after {
    content: "FOREVER TOGETHER";
    font-family: 'Kantumruy Pro', sans-serif;
    font-style: italic;
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 8px;
    font-weight: bold;
    position: relative;
    color: #fff;
    display: block;
    top: 10%;
    left: 0%;
    right: 0%;
    bottom: 0;
}

/* Rapaz */
.obobo {
    background: url(covers/2.jpg) no-repeat 50% 10%;
    background-size: cover;
    

}
.obobo::after {
    content: "O BOBO";
    font-family: 'Kantumruy Pro', sans-serif;
    font-style: italic;
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    color: #fff;
    display: block;
    top: 5%;
    left: 0%;
    right: 0%;
    bottom: 0;
}


.deti4devs {
    background: url(https://i.imgur.com/x9mi8Nx.jpeg) no-repeat 60% 50%;
    background-size: cover;
}

.deti4devs::after {
    content: "DETI4devs";
    font-family: 'Kantumruy Pro', sans-serif;
    font-style: italic;
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 12px;
    font-weight: bold;
    position: relative;
    color: #fff;
    display: block;
    top: 10%;
    left: 0%;
    right: 0%;
    bottom: 0;
}

.agirl {
    background: url(https://i.ibb.co/DVp97Dy/wallpapernoletters.jpg) no-repeat 50% 50%;
    background-size: cover;
}

.agirl::after {
    content: "A. G. C. D.";
    font-family: 'Kantumruy Pro', sans-serif;
    font-style: italic;
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 12px;
    font-weight: bold;
    position: relative;
    color: #fff;
    display: block;
    top: 10%;
    left: 0%;
    right: 0%;
    bottom: 0;
}



.bg_album {
    background: url(https://bangavenue.github.io/images/BG_Long_2.jpg) no-repeat 50% 50%;
    background-size: cover;
}

.bg_album::after {
    content: "ALBUM";
    font-family: 'Kantumruy Pro', sans-serif;
    font-style: italic;
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 15px;
    font-weight: bold;
    position: relative;
    color: #fff;
    display: block;
    top: 10%;
    left: 0%;
    right: 5%;
    bottom: 0;
}


.fadodecoimbra {
    background: url(covers/fadodecoimbra.jpg) no-repeat 50% 50%;
    background-size: cover;
}

.fadodecoimbra::after {
    content: "";
    font-family: 'Kantumruy Pro', sans-serif;
    font-style: italic;
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 1.6vh;
    font-weight: bold;
    position: relative;
    color: #fff;
    display: block;
    top: 10%;
    left: 0%;
    right: 5%;
    bottom: 0;
}


.passinggaps {
    background: url(covers/passinggaps.png) no-repeat 50% 50%;
    background-size: cover;
}

.passinggaps::after {
    content: "";
    font-family: 'Kantumruy Pro', sans-serif;
    font-style: italic;
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 1.6vh;
    font-weight: bold;
    position: relative;
    color: #fff;
    display: block;
    top: 10%;
    left: 0%;
    right: 5%;
    bottom: 0;
}

/* HERAS (2024) */
.heras2024 {
    background: url(covers/heras2024.jpeg) no-repeat 50% 10%;
    background-size: cover;
    

}
.heras2024::after {
    content: "";
    font-family: 'Kantumruy Pro', sans-serif;
    font-style: italic;
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 1.6vh;
    font-weight: bold;
    position: relative;
    color: #fff;
    display: block;
    top: 10%;
    left: 0%;
    right: 5%;
    bottom: 0;
    
}

/*--------------- gallery --------------- */

/* Fado Borges - Samaritana */

.fb-samaritana {
    background: url(covers/fb-samaritana.jpeg) no-repeat 50% 50%;
    background-size: cover;
}

.fb-samaritana::after {
    content: "";
    font-family: 'Kantumruy Pro', sans-serif;
    font-style: italic;
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 15px;
    font-weight: bold;
    position: relative;
    color: #0f0f0f;
    display: block;
    top: 10%;
    left: 5%;
    right: 5%;
    bottom: 0;
}
.fb-samaritana:hover::after{
    content: "";
    font-family: 'Kantumruy Pro', sans-serif;
    font-style: italic;
    writing-mode: horizontal-tb;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    color: #fff;
    display: block;
    color: #fff;
    text-align: center;
    top: 45%;
}


/* Gustavo Costa - Natura Mimesis */

.naturamimesis {
    background: url(covers/naturamimesis.jpeg) no-repeat 50% 50%;
    background-size: cover;
}

.naturamimesis::after {
    content: "";
    font-family: 'Kantumruy Pro', sans-serif;
    font-style: italic;
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 15px;
    font-weight: bold;
    position: relative;
    color: #0f0f0f;
    display: block;
    top: 10%;
    left: 5%;
    right: 5%;
    bottom: 0;
}
.naturamimesis:hover::after{
    content: "";
    font-family: 'Kantumruy Pro', sans-serif;
    font-style: italic;
    writing-mode: horizontal-tb;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    color: #fff;
    display: block;
    color: #fff;
    text-align: center;
    top: 45%;
}

/* Irmos */

.irmos {
    background: url(https://i1.sndcdn.com/artworks-QRcVPTI2ZYrqraHN-r8XupA-t500x500.jpg) no-repeat 50% 50%;
    background-size: cover;
}

.irmos::after {
    content: "";
    font-family: 'Kantumruy Pro', sans-serif;
    font-style: italic;
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 15px;
    font-weight: bold;
    position: relative;
    color: #0f0f0f;
    display: block;
    top: 10%;
    left: 5%;
    right: 5%;
    bottom: 0;
}
.irmos:hover::after{
    content: "";
    font-family: 'Kantumruy Pro', sans-serif;
    font-style: italic;
    writing-mode: horizontal-tb;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    color: #fff;
    display: block;
    color: #fff;
    text-align: center;
    top: 45%;
}

/* povo */

.povo {
    background: url(covers/povo.jpg) no-repeat 50% 50%;
    background-size: cover;
}

.povo::after {
    content: "";
    font-family: 'Kantumruy Pro', sans-serif;
    font-style: italic;
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 15px;
    font-weight: bold;
    position: relative;
    color: #0f0f0f;
    display: block;
    top: 10%;
    left: 5%;
    right: 5%;
    bottom: 0;
}
.povo:hover::after{
    content: "";
    font-family: 'Kantumruy Pro', sans-serif;
    font-style: italic;
    writing-mode: horizontal-tb;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    color: #fff;
    display: block;
    color: #fff;
    text-align: center;
    top: 45%;
}


/* liquen */

.liquen-i {
    background: url(https://glam-magazine.pt/wp-content/uploads/2024/10/24liquen-820x500.jpg) no-repeat 50% 50%;
    background-size: cover;
}

.liquen-i::after {
    content: "";
    font-family: 'Kantumruy Pro', sans-serif;
    font-style: italic;
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 15px;
    font-weight: bold;
    position: relative;
    color: #0f0f0f;
    display: block;
    top: 10%;
    left: 5%;
    right: 5%;
    bottom: 0;
}
.liquen-i:hover::after{
    content: "";
    font-family: 'Kantumruy Pro', sans-serif;
    font-style: italic;
    writing-mode: horizontal-tb;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    color: #fff;
    display: block;
    color: #fff;
    text-align: center;
    top: 45%;
}
